body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 2em;
    text-align: center;
}

.character-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre las imágenes */
    max-width: 60%; /* Ajusta el tamaño del contenedor */
    margin: 0 auto; /* Centra el contenedor */
}

img {
    width: 70%; /* Ajusta el tamaño al 70% del contenedor */
    height: auto;
}

.character {
    text-align: center; /* Centrar la descripción */
}

.character-info {
    display: none; /* Ocultar por defecto */
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.character-info.visible {
    display: block; /* Mostrar cuando esté activa */
}

.back-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #ddd;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: absolute; /* Absolute positioning */
    top: 10px; /* Distance from the top */
    left: 10px; /* Distance from the left */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .back-button {
        margin: 5px; /* Reduce margin */
        padding: 5px 10px; /* Reduce padding */
        font-size: 0.8em; /* Adjust font size */
        top: 5px; /* Adjust position from the top */
        left: 5px; /* Adjust position from the left */
    }
}

.back-button:hover {
    background-color: #ccc;
    border-color: #bbb;
    color: #000;
}

header {
    position: relative; /* Necesario para que el botón se posicione relativamente al header */
    padding: 1em 0;
    text-align: center;
    background-color: #f8f8f8;
}
