body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 2em;
    text-align: center;
}

img {
    width: 30%; /* Ajusta el tamaño al 50% del contenedor */
    height: auto;
}
