body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background-color: orange; /* Fondo de toda la página */
}

header, footer {
    background-color: orange; /* Cambia el fondo del encabezado y pie de página */
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 2em;
    text-align: center;
    background-color: orange; /* Fondo del contenido principal */
}

.character-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre las imágenes */
    max-width: 60%; /* Ajusta el tamaño del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    background-color: orange; /* Fondo del contenedor de personajes */
}

.character-info {
    display: none; /* Ocultar por defecto */
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    background-color: orange; /* Fondo de la información de los personajes */
}

.back-button {
    display: inline-block;
    margin: 10px;
    padding: 0.35% 0.75%;
    background-color: orange; /* Fondo del botón */
    color: #333;
    text-decoration: none;
    border-radius: 5%;
    border: 1px solid #ccc;
    position: absolute; /* Absolute positioning */
    top: 10px; /* Distance from the top */
    left: 10px; /* Distance from the left */
}

/* Media query for smaller screens */
@media (max-width: 15%) {
    .back-button {
        margin: 5px; /* Reduce margin */
        padding: 5px 10px; /* Reduce padding */
        font-size: 0.8em; /* Adjust font size */
        top: 5px; /* Adjust position from the top */
        left: 5px; /* Adjust position from the left */
    }
}

.back-button:hover {
    background-color: #ccc;
    border-color: #bbb;
    color: #000;
}

header {
    position: relative; /* Necesario para que el botón se posicione relativamente al header */
    padding: 1em 0;
    text-align: center;
    background-color: orange; /* Fondo del header */
}
